# Base de datos original (normalizada)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=comercial_db

# Base de datos desnormalizada
DB_DESN_HOST=localhost
DB_DESN_PORT=3306
DB_DESN_USER=root
DB_DESN_PASSWORD=
DB_DESN_NAME=comercial_desn_db
